:root {
    --bg-color-white: #eee;
    --bg-color-dark: #5e5b5be5;

    --header-footer: #F28F38;
    --aside: #2C5ABF;
}

.dark#mode {
    background-color: var(--bg-color-dark);
    animation: light-to-dark 0.3s ease-in-out;
}

@keyframes dark-to-light {
    0% {
        background-color: var(--bg-color-dark);
    }

    100% {
        background-color: var(--bg-color-white);
    }
}

@keyframes light-to-dark {

    0% {
        background-color: var(--bg-color-white);
    }

    100% {
        background-color: var(--bg-color-dark);
    }
}

.dark.burger-item--add {
    color: #fff;
}

.dark.burger-item--price {
    color: #fff;
}

.dark.burger-item--name {
    color: #fff;
}