body {
    flex-direction: column;
}

header {
    display: flex;
}

header h1 {
    font-size: 1rem;
}

header ul li {
    margin: auto;
}

.menu-openner {
    display: flex;
    margin-right: 20px;
}

nav .items {
    overflow-x: visible;
    overflow-y: hidden;
    height: 40px;
    white-space: nowrap;
    padding-left: 150px;
    gap: 0;

}

nav .items .item-carne,
.item-frango,
.item-acompanhamentos,
.item-bebidas-frias {
    display: inline-block;
    font-size: 20px;
    white-space: nowrap;
    width: 200px;
    margin-left: 10px;
}

#carne-bovina-area {
    grid-template-columns: repeat(1, 1fr);
}

#frango-area {
    grid-template-columns: repeat(1, 1fr);
}

#acompanhamentos-area {
    grid-template-columns: repeat(1, 1fr);
}

#bebidas-frias-area {
    grid-template-columns: repeat(1, 1fr);
}

aside {
    width: auto;
    position: fixed;
    left: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease .2s;
}

aside.show {
    width: auto;
}

.cart-area {
    width: 100vw;
}

.menu-closer {
    display: block;
}

.burgersWindowArea {
    justify-content: flex-start;
    align-items: flex-start;
}

.burgersWindowBody {
    width: 100vw;
    display: block;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.burgersBig img {
    width: 75%;
    height: auto;
}

.burgersInfo h1 {
    margin-top: 28px;
}

.burgersInfo--addButton {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 30px auto;
}

.burgersInfo--cancelButton {
    display: none;
}

.burgersInfo--cancelButton.dark {
    display: none;
}

.burgersInfo--cancelMobileButton {
    display: block;
}

.burgersInfo--cancelMobileButton.dark {
    display: block;
}

/* Index */

.hamburger {
    display: block;
    margin-right: 30px;
    color: #fff;
}

.header-home {
    width: 100vw;
}

.header-home ul {
    position: fixed;
    top: 40px;
    left: 100%;
    background-color: #F28F38;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}

.header-home ul.open {
    left: 0;
}

.header-home ul li {
    width: 100%;
    margin: 50px 0;
}

.header-home ul li a {
    font-size: 23px;
}

.content-items {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.content-item {
    margin-top: 100px;
}

.content-item h1 {
    margin: 0 auto;
}

.content-item button {
    margin: 0 auto;
}

.content-items img {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto 0;
    padding-right: 50px;
}

.mini-menu-item {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.desconto {
    width: 100vw;
}

.desconto-box {
    width: 100vw;
}