@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color-white: #eee;
    --bg-color-dark: #5e5b5be5;

    --header-footer: #F28F38;
    --aside: #F2D335;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

/* Models */

.models {
    display: none;
}

.burger-item {
    text-align: center;
    max-width: 250px;
    font-family: 'Poppins', Arial, Helvetica;
    margin: 0 auto 50px auto;
}

.burger-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.burger-item--img {
    width: 200px;
    height: 200px;
}

.burger-item--img img {
    width: 100%;
    height: auto;
}

.burger-item--add {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background-color: var(--header-footer);
    text-align: center;
    color: #000;
    font-size: 22px;
    cursor: pointer;
    margin-top: -70px;
    transition: all ease .2s;
}

.dark.burger-item--add {
    color: #fff;
}

.burger-item a:hover .burger-item--add {
    opacity: 0.95;
}

.burger-item--price {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.dark.burger-item--price {
    color: #fff;
}

.burger-item--name {
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    margin-top: 5px;
}

.burger-item--id,
.burger-Info--id {
    display: none;
}

/* Cart */

.cart--area {
    margin-top: 30px;
    padding: 20px;
}

.cart--area h1 {
    display: relative;
}

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: var(--bg-color-white);
    border-radius: 10px;
    height: auto;
}

.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
}

.cart--item-qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid var(--header-footer);
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--total.big {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: var(--header-footer);
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid var(--header-footer);
    transition: all ease .2s;
}

.cart--finalizar:hover {
    opacity: 0.95;
}

/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--header-footer);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: #eee;
}

header ul {
    list-style: none;
}

header ul li {
    margin-left: 830px;
}

header ul li img {
    width: 30px;
}

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-openner span {
    margin-right: 10px;
    color: #eee;
}

.menu-closer {
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

/* Aside */

aside {
    background-color: var(--aside);
    width: 0vw;
    font-family: 'Hepta Slab', Helvetica, Arial;
    transition: all ease .2s;
    overflow-x: hidden;
}

aside.show {
    width: 30vw;
}

/* Main */

#mode {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    background-color: var(--bg-color-white);
    animation: dark-to-light 0.3s ease-in-out;
}

#mode.dark {
    background-color: var(--bg-color-dark);
    animation: light-to-dark 0.3s ease-in-out;
}

@keyframes dark-to-light {
    0% {
        background-color: var(--bg-color-dark);
    }

    100% {
        background-color: var(--bg-color-white);
    }
}

@keyframes light-to-dark {

    0% {
        background-color: var(--bg-color-white);
    }

    100% {
        background-color: var(--bg-color-dark);
    }
}

h1,
h2 {
    font-family: 'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

nav .items {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav .items .item-carne,
.item-frango,
.item-acompanhamentos,
.item-bebidas-frias {
    background-color: var(--header-footer);
    list-style: none;
    height: 25px;
    font-size: 20px;
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

#carne-bovina-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#carne-bovina-area .burger-item .burger-item--name.dark {
    color: #a4bf2c;
}

#frango-area {
    display: none;
    grid-template-columns: repeat(4, 1fr);
}

#acompanhamentos-area {
    display: none;
    grid-template-columns: repeat(4, 1fr);
}

#bebidas-frias-area {
    display: none;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--header-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

footer a {
    padding: 5px;
}

footer a img {
    width: 40px;
}

/* Burger area */

.burgersWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.burgersWindowBody {
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}

.burgersBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgersBig--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.burgersBig img {
    height: 200px;
    width: auto;
}

.burgersInfo {
    flex: 1;
    padding-bottom: 50px;
    font-family: 'Poppins', Helvetica, Arial;
}

.burgersInfo h1 {
    margin-top: 50px;
    color: #000;
    margin-right: 50px;
    font-size: 1.5rem;
}

.burgersInfo--desc {
    font-size: 20px;
    color: #999;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 50px;
    font-family: 'Poppins', Helvetica, Arial;
}

.burgersInfo--sector {
    font-size: 20px;
}

.burgersInfo--kc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', Helvetica, Arial;
}

.burgersInfo--price {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.burgersInfo--actualPrice {
    font-size: 20px;
    margin-right: 30px;
}

.burgersInfo--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.burgersInfo--qtarea button {
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
    border: 0;
}

.burgersInfo--qt {
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.burgersInfo--addButton {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--header-footer);
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.burgersInfo--addButton:hover {
    opacity: 0.90;
}

.burgersInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}

.burgersInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

/* Modal carrinho vazio / pedindo confirmado*/

.carrinho-vazio {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.carrinho-vazio-body {
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 25px;
    font-size: 1.3rem;
}

.voltar {
    cursor: pointer;
    background-color: #DC3748;
    text-transform: uppercase;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.voltar:active {
    box-shadow: inset 4px 4px 0 #e21b2f;
    font-size: 0.8rem;
}

.pedido-confirmadoWindow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.pedido-confirmadobody {
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img img {
    width: 100px;
}

.ok {
    background-color: #428C3F;
    text-transform: uppercase;
    color: #fff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
}

.ok:active,
.active {
    box-shadow: inset 4px 4px 0 #387237;
    font-size: 0.8rem;
}

nav .items .item-carne:active,
.item-frango:active,
.item-acompanhamentos:active,
.item-bebidas-frias:active,
.active {
    box-shadow: inset -4px 4px 0 #f57506;
    font-size: 15px;
    cursor: pointer;
}

/* Dark */

.burgersWindowBody.dark {
    background-color: var(--bg-color-dark);
}

#carne-bovina-area.burger-item:nth-child(1).dark {
    background-color: #2C5ABF;
}